/*HTML4 reset*/
@charset "utf-8";html{color:#000;background:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,Hiragino Sans GB,\5b8b\4f53}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
fieldset,img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
a:hover{text-decoration:none}
ins,a{text-decoration:none}
.clear{zoom:1;overflow:auto;overlfow-x:hidden;overflow-y:hidden;}
body .fn-hide{display:none}
.left,.right{display:inline}
.left{float:left}
.right{float:right}
a{color:#3096e4;}
.hide{
    display:none;
}
.show{
    display:block;
}

/*admin*/
textarea,input{
    border-radius:5px;
}
.container{
    padding:10px;
}
td{
    padding:5px;
    text-align:right;
    vertical-align: top;
}
td textarea,td .input_text,td select{
    float:left;
}
td.no-float *{
    float:none;
}
.input_text{
    width:300px;
    border:1px solid #ddd;
    line-height:24px;
    height:24px;
}
input[type=text]:focus,textarea:focus{
    outline-color: yellow;
    background:yellow;
    outline-width: 1px;
}
textarea.input_text{
    height:100px;
}
.btn-ok{
    background:#f50;
    color:#fff;
    font-size:14px;
    text-align:center;
    line-height:22px;
    padding:5px 20px;
    border:1px solid #c54404;
    cursor:pointer;
}
.btn-blue{
    background:blue;
    color:#fff;
    font-size:14px;
    text-align:center;
    line-height:22px;
    padding:5px 20px;
    border:1px solid #000;
    cursor:pointer;
}
.find-bible{
    margin-left:10px;
}
.J-close{
    background:#000;
    color:#fff;
    font-size:14px;
    text-align:center;
    line-height:24px;
    padding:5px 20px;
    display:block;
    height:24px;
    width:30px;
    text-align:center;
    border-radius:5px;
    cursor:pointer;
}
.mask{
    position:absolute;
    left:0;
    top:0;
    z-index:999;
    background:#000;
    opacity:0.5;
    filter: alpha(opacity=50);
    width:100%;
    height:100%;
}
.pop-box{
    position:absolute;
    z-index:1000;
    padding:10px;
    border-radius:10px;
    border:10px solid #000;
    background:#fff;
}
#J-loading{
    height:25px;
}


