/*HTML4 reset*/
@charset "utf-8";html{color:#000;background:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,Hiragino Sans GB,\5b8b\4f53}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
fieldset,img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
a:hover{text-decoration:none}
ins,a{text-decoration:none}
.clear{zoom:1;overflow:auto;overlfow-x:hidden;overflow-y:hidden;}
body .fn-hide{display:none}
.left,.right{display:inline}
.left{float:left}
.right{float:right}
a{color:#3096e4;}
.hide{
    display:none;
}
.show{
    display:block;
}

/*game*/
html{
    background:#333;
}
body{
    color:#fff;
    font-size:15px;
}
.container{
    width:820px;
    height:750px;
    margin:0 auto;
    overflow:hidden;
}
.loading{
    text-align:center;
    font-size:40px;
}
.logo-small{
    position:absolute;
    margin-top:10px;
    margin-left:-40px;
}
.loading .title{
    padding-left:30px;
}
.center-box{
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotateY(0deg);
    }
    to{
        -webkit-transform: rotateY(360deg);
    }
}
@-webkit-keyframes fling {
    from{
        -webkit-transform: translate(-600px,-600px) rotate(0deg);
    }
    to{
        -webkit-transform: translate(0,0) rotate(360deg);
    }
}
@-webkit-keyframes fling-reverse2 {
    from{
        -webkit-transform: translate(-400px,-200px) rotate(120deg);
    }
    to{
        -webkit-transform: translate(0,0) rotate(360deg);
    }
}
@-webkit-keyframes fling-reverse {
    from{
        -webkit-transform: translate(0,-600px) rotate(-100deg);
    }
    to{
        -webkit-transform: translate(0,0) rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 1.5s ease-out infinite;
}
.rotating2 {
    -webkit-animation: rotating 2s ease-in 2;
}
.fling{
    -webkit-animation: fling .8s ease-in;
}
.fling-reverse2{
    -webkit-animation: fling-reverse2 .8s ease-in;
}
.fling-reverse{
    -webkit-animation: fling-reverse .8s ease-in;
}
.introducing-main{
    display:-webkit-box;
}
.flex{
    -webkit-box-flex:1;
}
.introducing-main nav{
    width:200px;
    text-align:center;
    display:block;
    margin-right:30px;
}
.introducing-main nav li{
    display:block;
    width:180px;
    height:60px;
    line-height:60px;
    padding:0 10px;
    cursor:pointer;
    font-size:40px;
    margin:0 auto 30px;
    background:-webkit-linear-gradient(top, #55c1f3 5%, #066fa0 50%);
    border-radius:20px;
    -webkit-box-shadow:2px 5px 2px #000;
    border:5px solid #333;
}
.introducing-main nav ul{
    margin-top:10px;
}
.introducing-main nav li:hover,.introducing-main nav li.current{
    color:yellow;
    background:-webkit-linear-gradient(top, #e687fa 5%, #8c09a8 50%);
    border:5px solid #f2c6fc;
}
.introducing-main nav li:last-child{
    margin:0 auto;
}
.introducing-main .flex{
    width:590px;
}
.introducing-main .flex h1{
    font-size:60px;
    letter-spacing: 40px;
    text-align:center;
    color:#f50;
}
.introducing-main .flex .content{
    margin-top:100px;
    letter-spacing: 5px;
    font-size:17px;
    padding-left:30px;
}
.topics-tree{
    font-size:30px;
}
.topics-tree span{
    /*padding:5px 15px;
    border-radius:30px;
    box-shadow:2px 2px 2px #000;*/
    cursor:pointer;
    display:block;
}
.topics-tree ins:hover{
    background:#fff;
}
.topics-tree ins{
    border-radius:20px;
    border:1px dotted #fff;
    padding:1px 20px;
    box-shadow:2px 2px 2px #000;
}
*[data-topic-root=true] span{
  /*background:#9acd32;*/
    color:#9acd32;
}
*[data-topic-level="1"] span{
    /*background:purple;*/
    color:purple;
    padding-left:60px;
}
*[data-topic-level="2"] span{
    /*background:#ff4500;*/
    color:#ff4500;
    padding-left:60px;
}
.back{
    font-size:40px;
    display:block;
    margin-top:50px;
    text-align:center;
    letter-spacing: 10px;
    cursor:pointer;
}
.back:hover{
    color:#fff;
}
.subject-box{
    width:100%;
    position:relative;
}
.mask{
    width:100%;
    height:100%;
    background:rgba(00,00,00,.5);
    position:absolute;
    left:0;
    top:0;
    z-index:2;
}
.webkit-box{
    display:-webkit-box;
    width:100%;
}
.flex{
    -webkit-box-flex:1;
    width:33.3%;
}
.score{
    font-size:13px;
    text-align:center;
}
.currentTopicDes{
    font-size:40px;
    text-align:right;
}
.questionAndsolutionsBox{
    margin:30px 0 10px 0;
}
.solution-title{
    background:#fff;
    padding-bottom:20px;
    border-radius:10px;
    text-align:center;
    font-size:40px;
    color:purple;
    border:5px solid #999;
}
.questionAndsolutionsBox p{
    margin-bottom:10px;
}
.solution{
    background:#fff;
    border-radius:10px;
    font-size:30px;
    color:blue;
    text-align:left;
    padding-left:20px;
    display:block;
    border:5px solid #999;
    line-height:60px;
    cursor:pointer;
}
.solution.current{
    background:#f50;
    color:#fff;
}
.solution.filtered{
    background:#000;
    color:#000;
}
.space{
    width:50px;
    display:block;
}
.controler{
    font-size:25px;
    margin-top:20px;
}
.controler p:last-child{
    text-align:right;
}
.controler p:last-child a{
    margin-left:20px;
    border:5px solid #fff;
    border-radius:50px;
    padding:3px 20px;
    cursor:pointer;
}
.controler .flex{
    width:auto;
}
.phases{
    font-weight:bold;
    color:purple;
    font-size:15px;
}
.subject-box .bwfw-logo{
    text-align:center;
}
.next-score{
    color:yellow;
    font-weight:700px;
}
#J-ok{
    font-weight:bold;
    font-size:35px;
    text-align:center;
    border-radius:30px;
    background:purple;
    color:#fff;
    display:block;
    width:140px;
    margin:0 auto;
}
#J-reference{
    font-size:14px;
    font-weight:normal;
    padding:0 35px;
}
.getScrore{
    text-align:center;
    font-size:100px;
    color:#f50;
    background:rgba(255,255,255,.8);
    border:15px solid #333;
    height:150px;
    border-radius:30px;
    font-weight:bold;
    margin:0 auto 10px;
}
#J-getScore .webkit-box a{
    border-radius:30px;
    color:#fff;
    font-size:35px;
    font-weight:bold;
    text-align:center;
    display:block;
    width:150px;
    margin:0 auto;
}
#J-exit{
    background:#ff0000;
}
#J-recycle{
    background:green;
}
#J-next{
    background:blue;
}